body.light {
    --background-color: #ffffff;
    --text-color: #000000;
    --card-background-color: #f9f9f9;
    --card-text-color: #333333;
    --card-link-color: #007BFF;
  }
  
  body.dark {
    --background-color: #000000;
    --text-color: #ffffff;
    --card-background-color: #1e1e1e;
    --card-text-color: #cccccc;
    --card-link-color: #1e90ff;
  }
  
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 20px;
  }
  
  .card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: var(--card-background-color);
    color: var(--card-text-color);
  }
  
  .card-image {
    height: 200px;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card-title {
    font-size: 1.25em;
    margin: 0 0 10px 0;
  }
  
  .card-description {
    font-size: 0.875em;
    line-height: 1.5;
  }
  
  .card-tech-stack {
    font-size: 0.875em;
    margin: 15px 0;
  }
  
  .card-links {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .card-link {
    text-decoration: none;
    color: var(--card-link-color);
    font-size: 0.875em;
  }
  
  .card-link:hover {
    text-decoration: underline;
  }
  