body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}


body.light {
  --background-color: #ffffff;
  --text-color: #000000;
}

body.dark {
  --background-color: #000000;
  --text-color: #ffffff;
}


.sw-ic {
  font-size: 1.8em;
  cursor: pointer;
}


.nav-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  margin: 5px;
  text-decoration: none;
  color: var(--text-color);
}



.active {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;

}


